main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

sub {
    margin: auto;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.4);
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX= 0, OffY=5,Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0px 5px 3px rgba(0,0,0,0.3));
    filter: drop-shadow(0px 5px 3px rgba(0,0,0,0.3));
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}

.pulsate {

}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}

#level {
    height: 60px;
    width: 100px;
    margin: 10px auto;
    font-size: 1.5rem;
    background-color: #c6c6c6;
    border: 1.75px solid #0b0b0b;
}


#hp {
    font-size: 1.7rem;
    height: 40px;
    width: 150px;
    margin: 10px auto;
    font-size: 1.5rem;
    background-color: #c6c6c6;
    border: 1.75px solid #0b0b0b;
}

#count {
    height: 50px;
    width: 50px;
    margin: auto 20px;
    font-size: 2.4rem;
    background-color:#c14343;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    background-color: #c6c6c6;
    border: 1.75px solid #0b0b0b;
    -webkit-box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.4);
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX= 0, OffY=5,Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0px 5px 3px rgba(0,0,0,0.3));
    filter: drop-shadow(0px 5px 3px rgba(0,0,0,0.3));
}

button{
    border-radius:10px;
    background-color: #c14343;
    border: 1.75px solid #0b0b0b;
    cursor:pointer;
    margin: 20px 30px;
    font-family:'Berlin Sans FB Demi Bold';
    font-size: 1.2rem;
    padding:6px 24px;
    text-shadow:0px .5px 1px #0b0b0b;
    -webkit-box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.4);
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX= 0, OffY=5,Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0px 5px 3px rgba(0,0,0,0.3));
    filter: drop-shadow(0px 5px 3px rgba(0,0,0,0.3));
    background-color:#c14343;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

button:active {
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.button{
    margin: auto 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #c14343;
    border: 1.5px solid #333;
    cursor: pointer;
    -webkit-box-shadow: inset 0px 0px 17px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 0px 17px -2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 0px 17px -2px rgba(0, 0, 0, 0.4);
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX= 0, OffY=5, Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.3));}