health {
	margin: 10px 10px;
	text-align: center;
}

.health-bar {
	display: flex;
	justify-content: center;
	margin: auto;
	height: auto;
	width: auto;
	max-width: 500px;
	border-radius: 50px;
	border: 1.5px solid #333;
}

.filler {
	background: #32CD32;
	height: auto;
	font-size: 1.7rem;
	font-family: 'Berlin Sans FB Demi Bold';
	text-align: center;
	border-radius: inherit;
}